@media (min-width: 1200px) {
  margin-top: 300px;
}
@media (min-width: 992px) {
  margin-top: 120px;
}
@media (min-width: 768px) {
  padding-top: 120px;
}
@media (max-width: 480px) {
  .sectionpic {
    margin-top: 25px !important;
    margin-left: 50px !important;
    width: 65% !important;
  }

  .row {
    text-align: center;
  }

  h1 {
    margin-top: 120px  !important;
  }

  #introHeading {
    margin-top: 120px !important;
  }

  #changelog {
    height: 220vh !important;
  }
}

html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

a {
  color: #FFF !important;
}

a:hover {
  color: #FFF !important;
}


.navbar-brand
{
  margin-left:100px !important;

}

.nav-link:hover {
  color: #000000 !important;
}

.nav-link {
  color: #FFF !important;
}

.btn-warning {
  color: white;
}

.changelogtext {
  text-overflow: ellipsis;
  overflow: hidden;
}

section {
  display: block;
  background: #CFF;
  height: 100vh;
  box-sizing:border-box;
}

.sectionpic {
  margin-top: 120px;
  width: 100%;
  height: auto;
}

footer {
  background-color: black;
  color: white;
  height: 100px;
}

h1 {
  margin-top: 200px;
  text-shadow: 2px 2px 4px #000000da;
  padding-bottom: 80px;
}

.introBubbleText {
  text-shadow: 2px 2px 4px #000000da;
  font-size: 20px;
}

#intro {
  background-image:url("/content/pics/mainscreen_background.png");
  color: white;
  background-repeat: no-repeat;
  background-size: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#features {
  background-color: rgb(226, 150, 35);  
  color: white;
}

#download {
  background-color: rgb(212, 93, 64);  
  color: white;

}

#changelog {
  background-color: rgb(44, 44, 44);  
  color: white;
  height: 150vh;
}

#sourcecode {

  background-color: rgb(34, 144, 158);
  color: white;

}

#tools {

  background-color: green;
  color: white;

}

#contact {

  background-color: rgb(107, 45, 119);
  /*background-image: linear-gradient(to top , rgb(87, 39, 97), rgb(158, 65, 177)); */

  color: white;
}


