html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

.navbar-brand
{
  margin-left:100px !important;
}

.nav-link:hover {
  color: #000000 !important;
}

.nav-link {
  color: #FFF !important;
}

.btn-warning {
  color: white;
}

section {
  display: block;
  background: #CFF;
  height:100%;
  width:100%;
  padding:330px 0;

  box-sizing:border-box;
}

footer {
  background-color: black;
  color: white;
}

h2 {
  text-shadow: 2px 2px 4px #000000da;
}

#logo {
  width: 20%;
  height: auto;
}

#intro {

  background-color: rgb(255, 255, 255);  
  color: white;
}

#features {

  background-color: rgb(226, 150, 35);  
  color: white;
}

#download {

  color: white;

}

.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -99;
  -webkit-user-select: none;
  user-select: none;
  width: 100%;
  height: 100%;
  -ms-transform: scale(2,2);
  -webkit-transform: scale(2,2);
  transform: scale(2,2);
}

.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#tools {

  background-color: green;
  color: white;

}

#contact {

  background-color: rgb(107, 45, 119);
  color: white;
}

.logo {
  width:100%; /* you can use % */
  height: auto;
  margin: 0 auto;
}


